.text-box,
.card-box {
    margin-bottom: 5em;
}

.text-box h1,
.text-box h2,
.text-box h3 {
    font-weight: bold;
    margin-bottom: 2rem;
}

.hl-box h1 {
    color: red;
}

.card-box .card {
    border-radius: 8px;
    box-shadow: 0 7px 30px -10px rgba(0, 0, 0, .3);
    color: #000;
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

.card-box .card

.overflow-content {
    overflow: visible !important;
}

.card-box .card-img {
    text-align: center;
    padding: 1.25rem;
    flex: 0 1 0%;
}

.card-box .card-img img {
    height: 50px;
    width: auto;
}

.card-box .card-icon img {
    width: 100%;
}

.card-box .card-cover {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

.card-box .card-cover.cover-red {
    box-shadow: inset 0 0 0 2000px rgba(255,0,0,.33);
}

.card-box .card-cover.cover-blue {
    box-shadow: inset 0 0 0 2000px rgba(0,0,255,.33);
}

.card-box .card-cover.cover-green {
    box-shadow: inset 0 0 0 2000px rgba(0,255,0,.33);
}

.card-box .card-cover.cover-white {
    box-shadow: inset 0 0 0 2000px rgba(255,255,255,.33);
}

.card-box .card-cover.cover-black {
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.33);
}

.card-box h1 {
    font-size: 24px;
    font-weight: bold;
}

.card-box a,
.card-box a:hover,
.card-box a:active,
.card-box a:focus,
.card-box a:visited {
    color: initial;
    text-decoration: initial;
}
