.blog-header {
    width: 100%;
    z-index: 1000;
    background-color: white;
    top: 0;
}

.navbar {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 0 2px 10px 0 rgba(2, 27, 68, .1);
}

.navbar .nav-link {
    padding: 5px 20px !important;
}

.navbar .nav-link,
.navbar .nav-link:hover,
.navbar .nav-link:active,
.navbar .nav-link:focus,
.navbar .nav-link:visited {
    text-decoration: none;
}

.navbar .nav-link:hover {
    color: red !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #222222;
    padding: 20px;
}

.navbar img.logo {
    width: 143px;
}