#map {
    width: 100%;
    height: 800px;
}

#map .marker {
    width: 2rem;
    height: 2rem;
    display: block;
    left: -1rem;
    top: -1rem;
    position: relative;
    border-radius: 2rem 2rem 0;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF;
    position: relative;
}

#map .marker-official:before {
    content: '\2605';
    color: #FFFFFF;
    font-size: 1.5em;
    position: absolute;
    top: 0%;
    right: 30%;
}

#map .leaflet-popup-content {
    text-align: center;
}

#map .leaflet-popup-content * {
    margin: 0;
}

#map .leaflet-popup-content img {
    width: 50px;
}
