{{ define "main" }}
<main aria-role="main">

    <section class="row ab-section">
        <div>
            <div class="row">
                <div class="col-md-6 ab-content">
                    {{ .Content }}
                </div>
                <div class="flex-section">
                    <img class="img_sticky d-none d-sm-none d-md-block" src="{{ .Site.BaseURL }}images/aborruso.png">
                </div>
            </div>
        </div>
    </section>

    <section class="row d-md-none p-0">
        <div>
            <img class="w-100" src="{{ .Site.BaseURL }}images/aborruso.png">
        </div>
    </section>

</main>
{{ end }}
