{{ define "main" }}
<main aria-role="main">

    <section class="row top-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    {{ partial "lettering" . }}
                    <p class="sh-text w-md-50">
                        Tutto il progetto è 100% open source e sviluppato da persone provenienti da tutta Italia.
                        Anche se non sei un programmatore, puoi aiutarci a fare la differenze.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 sticker-box">
                    <a href="#cittadino">
                        <div class="card">
                            <div class="card-img"><img src="{{ .Site.BaseURL }}images/cittadino-green.svg" alt="Partecipa come cittadino"></div>
                            <div class="card-body">
                                <h2 class="card-title">Partecipa come cittadino</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 sticker-box">
                    <a href="#pa">
                        <div class="card">
                            <div class="card-img"><img src="{{ .Site.BaseURL }}images/ente-blue.svg" alt="Partecipa come PA"></div>
                            <div class="card-body">
                                <h2 class="card-title">Partecipa come PA</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="row em-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    <h2 id="cittadino">Sei un cittadino interessato a partecipare?</h2>
                    <p class="sh-text w-md-50">
                        Tutto il progetto è 100% open source e sviluppato da persone provenienti da tutta Italia.
                        Anche se non sei un programmatore, puoi aiutarci a fare la differenze.
                    </p>
                </div>
                <div class="col-sm-4 card-box">
                    <a href="/faq/#come-aggiungo-un-albopop-sul-sito">
                        <div class="card">
                            <div class="card-img"><img src="{{ .Site.BaseURL }}images/ente-green.svg" alt="Aggiungi un nuovo ente"></div>
                            <div class="card-body">
                                <h3 class="card-title">Aggiungi un nuovo ente</h3>
                                <p class="card-text">Inserisci un nuovo ente su AlboPOP e dai modo ad altri cittadini
                                    di poter usufruire dell'Albo Pretorio POP.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 card-box">
                    <a href="/discuti">
                        <div class="card">
                            <div class="card-img"><img src="{{ .Site.BaseURL }}images/forum-green.svg" alt="Forum"></div>
                            <div class="card-body">
                                <h3 class="card-title">Discuti</h3>
                                <p class="card-text">Domande, risposte e documentazione da tenere aggiornate. Partecipa
                                    alle discussioni sul Forum.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 card-box">
                    <a target="_blank" href="https://github.com/ondata/albopopTwoDotZero">
                        <div class="card">
                            <div class="card-img"><img src="{{ .Site.BaseURL }}images/web-green.svg" alt="Web"></div>
                            <div class="card-body">
                                <h3 class="card-title">Web</h3>
                                <p class="card-text">Sei uno sviluppatore? Tutto il progetto è open e lo trovi su
                                    Github, siamo felici se vorrai contribuire.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 card-box">
                    <a target="_blank" href="https://www.paypal.com/donate/?token=kDl-lBXCe9HBDeX3eo2QlL3B9WdRVFk_RoA7E3xEzUPoQggwypE29U48CpzkLTz192pVVm&country.x=IT&locale.x=IT">
                        <div class="card">
                            <div class="card-img"><img src="{{ .Site.BaseURL }}images/finanzia-green.svg" alt="Finanziamento"></div>
                            <div class="card-body">
                                <h3 class="card-title">Finanziamento</h3>
                                <p class="card-text">Con l'aiuto di tutti si può rendere il web un posto migliore e
                                    creare servizi utili per la collettività.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    <h2 id="pa">Lavori in una PA?</h2>
                    <p class="sh-text w-md-50">
                        Se vuoi rendere POP il tuo Albo Pretorio basta che gli atti siano pubblicati anche tramite Feed RSS. Una volta che hai creato il feed RSS faccelo sapere <a href="/faq#come-aggiungo-un-albopop-sul-sito">in uno di questi modi</a href="/faq#come-aggiungo-un-albopop-sul-sito">.
                    </p>
                </div>
                <div class="col-sm-4 card-box">
                    <a class="card" href="#">
                        <div class="card-img"><img src="{{ .Site.BaseURL }}images/aderisci-blue.svg" alt="Aderisci"></div>
                        <div class="card-body">
                            <h3 class="card-title">Aderisci ufficialmente</h3>
                            <p class="card-text">Basta una determina per diventare più trasparente e offrire un
                                servizio migliore e gratuito ai cittadini.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 card-box">
                    <a class="card" href="/discuti">
                        <div class="card-img"><img src="{{ .Site.BaseURL }}images/forum-blue.svg" alt="Forum"></div>
                        <div class="card-body">
                            <h3 class="card-title">Discuti</h3>
                            <p class="card-text">Chiedi, impara e insegna. Ognuno può portare la propria conoscenza.
                                Partecipa alle discussioni.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="row em-section">
        <div class="container">
            {{ partial "bottom" . }}
        </div>
    </section>

</main>
{{ end }}
