{{ define "main" }}

    <main aria-role="main">
        <section class="row top-section">
            <div class="container">
                <div class="row">
                    <!--<div class="col-12 col-lg-9">-->
                    <div class="col-12">

                        <header>
                            <h1 class="blog-post-title">{{ .Title }}</h1>
                            <hr>
                        </header>    
                        <p class="sh-text w-md-100">
                            Qualche comune ha deciso di aderire in maniera ufficiale ad AlboPOP dando un forte segnale di
                            trasparenza e innovazione ai cittadini. Ecco quali sono.
                        </p>
                        <p><button type="button" class="btn btn-info call-to-action">Scopri come si aderisce ufficialmente</button></p>
                        {{ $paginator := .Paginate (where .Site.RegularPages "Params.official" true) }}
                        {{ range $paginator.Pages }}

                        {{ partial "list-item" . }}                        
                        
                        {{ end }}
                        
                        {{ partial "paginator" . }}
                        
                    </div>
                    <!--{{ partial "sidebar" . }}-->
                </div>
            </div>
        </section>
    </main>

{{ end }}
