{{ define "main" }}
<article class="static">
    <section class="row top-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <header>
                        <h1 class="blog-post-title">{{ .Title | markdownify }}</h1>
                        <hr>
                    </header>
                    {{ .Content }}
                </div>
                {{ partial "sidebar" . }}
            </div>
        </div>
    </section>
</article>
{{ end }}