{{ define "main" }}
<main aria-role="main">

    <section class="row top-section">
        <div class="container">

            <div class="row">
                <div class="col-12 text-box">
                    {{ partial "lettering" . }}
                    <p class="sh-text w-md-50">
                        Alcuni Enti Pubblici hanno deciso di aderire in maniera ufficiale ad AlboPOP,
                        altri li hanno inseriti persone come te per aiutare la collettività.
                        Qui trovi la lista completa e consultabile.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 sticker-box">
                    <a href="{{ .Site.BaseURL }}ufficiale/">
                        <div class="card d-flex flex-row align-items-center">
                            <div class="card-img text-blue">{{ len (where .Site.RegularPages "Params.official" true) }}</div>
                            <div class="card-body">
                                <h2 class="card-title">Le PA ufficialmente POP</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 sticker-box">
                    <a href="{{ .Site.BaseURL }}comune/">
                        <div class="card d-flex flex-row align-items-center">
                            <div class="card-img text-green">{{ len ( where (where .Site.RegularPages "Section" "comune") "Params.official" "!=" true ) }}</div>
                            <div class="card-body">
                                <h2 class="card-title">Comuni inseriti dalla community</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 sticker-box">
                    <a href="{{ .Site.BaseURL }}altrepa/">
                        <div class="card d-flex flex-row align-items-center">
                            <div class="card-img text-red">{{ len ( where (where .Site.RegularPages "Section" "altrepa") "Params.official" "!=" true ) }}</div>
                            <div class="card-body">
                                <h2 class="card-title">Le altre PA POP</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>

<!--    <section class="row top-section" id="searchData">
        <div class="container">

            <div class="row">
                <div class="col-12 text-box">
                        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js">
                        </script>
                        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js">
                        </script>
                        <script>
                            $(document).ready(function() {
                                $('#datiAlbi').DataTable( {
                                    "dom": '<"wrapper"ftlip>',
                                    "lengthChange": false,
                                    "deferRender": true,
                                    responsive: {
                                        breakpoints: [
                                        {name: 'bigdesktop', width: Infinity},
                                        {name: 'meddesktop', width: 1480},
                                        {name: 'smalldesktop', width: 1280},
                                        {name: 'medium', width: 1188},
                                        {name: 'tabletl', width: 1024},
                                        {name: 'btwtabllandp', width: 848},
                                        {name: 'tabletp', width: 768},
                                        {name: 'mobilel', width: 480},
                                        {name: 'mobilep', width: 320}
                                        ]
                                    },
                                    "pagingType": "simple",
                                    "ajax": "/data/index.json",
                                    "columnDefs": [ {
                                        "targets": 0,
                                        "data": null,
                                        "render": function ( data, type, row, meta ) {
                                        return '<a href="'+data[1]+'">'+ data[0] +'</a>';
                                        }
                                    } ],
                                    language: {
                                        search: "Cerca:",
                                        processing:     "Elaborazione ...",
                                        info:           "da _START_ a _END_ di _TOTAL_",
                                        infoEmpty:      "Elementi da 0 a 0 su 0",
                                        infoFiltered:   "(filtro su _MAX_)",
                                        infoPostFix:    "",
                                        loadingRecords: "Caricamento ...",
                                        zeroRecords:    "Nessun risultato",
                                        emptyTable:     "Nessun dato disponibile nella tabella",
                                        paginate: {
                                            first:      "Inizio",
                                            previous:   "Precedente",
                                            next:       "Successivo",
                                            last:       "Fine"
                                        },
                                        aria: {
                                            sortAscending:  ": attivare per ordinare la colonna in ordine crescente",
                                            sortDescending: ": attivare per ordinare la colonna in ordine decrescente"
                                        }
                                    }
                                } );
                            } );
                        </script>
                        <h2>Cerca tra gli albi pretori POP</h2>
                        <table id="datiAlbi" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Albo</th>
                                    </tr>
                                </thead>
                        </table>
                </div>
            </div>
        </div>
    </section>
-->
    <section class="row em-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    <p><button type="button" class="btn btn-info call-to-action"><a href="https://albopop.it/partecipa/#pa">Scopri come si aderisce ufficialmente</a></button></p>
                    <h2>Le PA Ufficialmente POP</h2>
                    <p class="sh-text w-md-50">
                        Qualche comune ha deciso di aderire in maniera ufficiale ad AlboPOP dando un forte segnale di
                        trasparenza e innovazione ai cittadini. Ecco quali sono.
                    </p>
                    {{ range where .Site.RegularPages "Params.official" true }}
                    {{ partial "list-item" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    <h2>I Comuni inseriti dalla Community</h2>
                    <p class="sh-text w-md-50">
                        Molti comuni sono stati resi Pop grazie al lavoro di attivisti che hanno scritto e mantengono piccoli software
                        in grado di produrre un feed RSS dalla pagina statica del sito del comune. Ecco quali sono.
                    </p>
                    {{ range where (where .Site.RegularPages "Section" "comune") "Params.official" "!=" true }}
                    {{ partial "list-item" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    <h2>Altre Pubbliche Amministrazioni POP</h2>
                    <p class="sh-text w-md-50">
                        Non soltanto i comuni hanno l'obbligo di pubblicare l'Albo Pretorio, ma tutti gli Enti
                        Pubblici! Anche le informazioni di questi enti possono essere davvero preziose da conoscere.
                    </p>
                    {{ range where (where .Site.RegularPages "Section" "altrepa") "Params.official" "!=" true }}
                    {{ partial "list-item" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <section class="row em-section">
        <div class="container">
            {{ partial "bottom" . }}
        </div>
    </section>

</main>
{{ end }}
