{{ define "main" }}
<main aria-role="main">

    <section class="row top-section">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h1><img class="logo" src="{{ .Site.BaseURL }}images/lettering-comuni-altre-pa.png" alt="Albopop"></h1>
                    <p class="bx-text">
                        Alcuni Enti Pubblici hanno deciso di aderire in maniera ufficiale ad AlboPOP,
                        altri li hanno inseriti persone come te per aiutare la collettività.
                        Qui trovi la lista completa e consultabile.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 card-box">
                    <a href="{{ .Site.BaseURL }}ufficiale/">
                        <div class="card d-flex flex-row align-items-center">
                            <div class="card-img text-blue">{{ len (where .Site.RegularPages "Section" "eq" "ufficiale") }}</div>
                            <div class="card-body">
                                <h1 class="card-title">I comuni ufficialmente POP</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 card-box">
                    <a href="{{ .Site.BaseURL }}comune/">
                        <div class="card d-flex flex-row align-items-center">
                            <div class="card-img text-green">{{ len (where .Site.RegularPages "Section" "eq" "comune") }}</div>
                            <div class="card-body">
                                <h1 class="card-title">I comuni inseriti dalla community</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 card-box">
                    <a href="{{ .Site.BaseURL }}altrepa/">
                        <div class="card d-flex flex-row align-items-center">
                            <div class="card-img text-red">{{ len (where .Site.RegularPages "Section" "eq" "altrepa") }}</div>
                            <div class="card-body">
                                <h1 class="card-title">Altre Pubbliche Amministrazioni POP</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section class="row em-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    <p><button type="button" class="btn btn-info call-to-action">Scopri come si aderisce ufficialmente ad AlboPOP</button></p>
                    <h1>I Comuni Ufficialmente POP</h1>
                    <p class="bx-text">
                        Qualche comune ha deciso di aderire in maniera ufficiale ad AlboPOP dando un forte segnale di
                        trasparenza e innovazione ai cittadini. Ecco chi sono.
                    </p>
                    {{ range where .Site.RegularPages "Type" "ufficiale" }}
                    {{ partial "list-item" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    <h2>I Comuni inseriti dalla Community</h2>
                    <p class="bx-text">
                        Qualche comune ha deciso di aderire in maniera ufficiale ad AlboPOP dando un forte segnale di
                        trasparenza e innovazione ai cittadini. Ecco chi sono
                    </p>
                    {{ range where .Site.RegularPages "Type" "comune" }}
                    {{ partial "list-item" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    
    <section class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    <h2>Altre Pubbliche Amministrazioni POP</h2>
                    <p class="bx-text">
                        Non soltanto i comuni hanno l'obbligo di pubblicare l'Albo Pretorio, ma tutti gli Enti
                        Pubblici! Le informazioni di questi enti possono essere davvero preziose da conoscere.
                    </p>
                    {{ range where .Site.RegularPages "Type" "altrepa" }}
                    {{ partial "list-item" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <section class="row em-section">
        <div class="container">
            {{ partial "bottom" . }}
        </div>
    </section>
    
</main>
{{ end }}