.blog-footer {

    font-family: $sfont;
    font-weight: 600;
    font-size: 0.8em;
    background-color: $black;
    color: $white;

    .navbar {

        .nav-link {

            &,
            &:hover,
            &:active,
            &:focus,
            &:visited {
                text-decoration: underline;
                color: $white;
            }

        }

    }

}
