body {

    overflow-x: hidden;
    width: 100%;

    font-family: $pfont;
    font-size: 1.25rem;
    line-height: 2rem;
    color: $black;

}

h1, h2, h3, h4, h5, h6 {

    font-family: $sfont;
    font-weight: bold;

}


h1 {
    font-size: 3.2rem;
    letter-spacing: -1px;
    line-height: 4.1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;

    &.lettering {

        font-size: 3.8rem;
        /*white-space: nowrap;*/
        @media (min-width:1000px) {
          font-size: 5.2rem;
        }

        img, svg {
            position: relative;
            top: -2.4rem;
            left: -1rem;
            width: 2rem;
            @media (min-width:1000px) {
              width: 4rem;
            }
        }
    }
}



h2 {

    font-size: 2.2rem;
    letter-spacing: -0.5px;
    line-height: 3.4rem;
    margin-top: 10px;
    margin-bottom: 10px;

}

h3, h4, h5, h6 {

    font-size: 1.8rem;
    letter-spacing: -0.5px;
    line-height: 2.6rem;

}

a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    color: inherit;
}

.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:visited {
    text-decoration: none;
}

p, li {

    a,
    a:hover,
    a:active,
    a:focus,
    a:visited {
        color: $red;
        text-decoration: underline;
    }

}


h1, h2, h3, h4, h5, h6 {

    a,
    a:hover,
    a:active,
    a:focus,
    a:visited {
        color: $red;
        text-decoration: underline;
    }

}

.overflow-content {
    overflow: visible !important;
}

/* overwrite bootstrap style */

.container {
  max-width: 1200px;
}
