section {

    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;


    &.r-section {
        justify-content: flex-end;
    }

    &.top-section {
        padding-top: 90px;
    }

    &.hl-section {
        background-color: $lblue;
    }

    &.em-section {
        background-color: $lwhite;
    }

    &.ab-section {

        @media (min-width: 768px) {
            background: /*url("/images/aborruso.png"),*/ $wbgradient;
            /* background-repeat: no-repeat;
            background-position: bottom right; */
            padding-bottom: 0px;
        }

        @media (min-width: 992px) {
            /* background-position: bottom right; */
        }
    }

    .ab-content {
      padding-bottom: 40px;
    }

}

.flex-section {
  overflow: visible;
  margin-right: 0;
  right: 0;
  width: 50%;
  padding-right: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

article > section {

    padding-top: 2.5em;
    padding-bottom: 0;

    &.top-section {
        padding-top: 5em;
        padding-bottom: 2.5em;
    }

}

footer > section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

aside > section {

    padding-top: 0;
    padding-bottom: 2em;

    h4 {
        margin-top: 1rem;
    }

    li {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}
