.sh-text,
.st-text,
.hl-text {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.sh-text,
.st-text {
    font-family: $sfont;
}

.hl-text {
    color: $red;
}

.em-text {
    font-style: italic;
}

article {
    .st-text {
        font-variant: small-caps;
        margin-bottom: 0;
    }
}

.text-green {
    color: $green;
}

.text-blue {
    color: $blue;
}

.text-red {
    color: $red;
}

.jumbotron {
    padding: 2rem;
    background-color: $lwhite;
    line-height: 2rem;
    border-radius: 10px;
}

.url-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
