.sh-text,
.st-text,
.hl-text {
    font-family: $sfont;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    line-height: 1.8rem;
}

.hl-text {
    color: $red;
}

.em-text {
    font-style: italic;
}

article {
    .st-text {
        font-variant: small-caps;
        margin-bottom: 0;
    }
}

.text-green {
    color: $green;
}

.text-blue {
    color: $blue;
}

.text-red {
    color: $red;
}

.jumbotron {
    padding: 2rem;
    background-color: $lwhite;
}
