{{ define "main" }}
<article class="static">
    <section class="row top-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-9">
                    <header>
                        <h1>{{ .Title | markdownify }}</h1>
                        <hr>
                    </header>
                    <div class="metapost">{{ if isset .Params "date" }} {{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }} {{ end }} | {{ if isset .Params "author" }}
                        {{ index .Params "author" }}
                        {{ end }}</div>
                    {{ .Content }}
                    {{ if .IsTranslated }}
                    <h4>{{ i18n "translations" }}</h4>
                    <ul>
                        {{ range .Translations }}
                        <li>
                            <a href="{{ .RelPermalink }}">{{ .Lang }}: {{ .Title }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}

                    {{ partial "related" . }}

                </div>
                {{ partial "sidebar" . }}
            </div>
        </div>
    </section>
</article>
{{ end }}

