.hl-text {
    font-weight: bold;
    color: red;
    font-size: 20px;
    line-height: 30px;
}

.bx-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    width: 50%;
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #f9f9f9;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
    color: red;
    text-decoration: underline;
}

p {
    margin-bottom: 2rem;
}

.em-text {
    font-style: italic;
}

.text-green {
    color: #3ac430;
}

.text-blue {
    color: #266ff0;
}

.text-red {
    color: #ff0000;
}