.list-item p,
.list-item h1 {
    margin: 0 !important;
}

.list-item a,
.list-item a:hover,
.list-item a:active,
.list-item a:focus,
.list-item a:visited {
    text-decoration: none;
    color: initial;
}

.list-item .item-image {
    text-align: center;
    width: 100px;
    overflow: hidden;
    position: relative;
}

.list-item .item-logo {
    height: 75px;
    width: auto;
}

.list-item .item-medal {
    position: absolute;
    top: 0;
    right: 10%;
    height: 25px;
}

.list-item .item-type {
    font-variant: small-caps;
}

.list-item .item-location {
    margin-left: 15px;
    position: relative;
    bottom: 2px;
}

.list-item .item-icon {
    margin-right: 15px;
}

.list-item .item-features {
    white-space: nowrap;
}

.list-item .item-features .badge img,
.list-item .item-features .badge svg {
    position: relative;
    bottom: 2px;
}