section {
    justify-content: center;
    padding-top: 5em;
}

.r-section {
    justify-content: flex-end;
}

.top-section {
    padding-top: 5em;
    padding-bottom: 5em;
}

.hl-section {
    background-color: #cae5f8;
}

.em-section {
    background-color: #f9f9f9;
}

.ab-section {
    background: url("/images/aborruso.png"), linear-gradient(90deg, white 66%, #2a9ced 33%);
    background-repeat: no-repeat;
    background-position: bottom right;
}

footer > section {
    padding-top: 2em;
}

aside > section {
    padding-top: 0;
}
