{{ define "main" }}

    {{ $truncate := default true .Site.Params.truncate }}
    <main aria-role="main">
        <section class="row top-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <header>
                            <h1 class="blog-post-title">{{ .Title }}</h1>
                            <hr>
                        </header>    
        
                        {{ $paginator := .Paginate (where .Pages "Type" .Page.Type) }}
                        {{ range $paginator.Pages }}
                        
                            {{ if $truncate }}
                                {{ .Render "summary" }}
                            {{ else }}
                                {{ .Render "content" }}
                            {{ end }}
                        
                        {{ end }}
                        
                        {{ partial "paginator" . }}
                    </div>
                    {{ partial "sidebar" . }}
                </div>
            </div>
        </section>
    </main>

{{ end }}
