<div class="row justify-content-between">
    <div class="col-12 text-box">
        <h2>Leggere gli albi pretori, in che modo dovrebbe aiutare la gente comune?</h2>
        <!--<p>
            Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
            justo sit amet risus.
            Nullam quis risus eget urna mollis ornare vel eu leo.
        </p>-->
    </div>
    {{ range first 2 ( where .Site.RegularPages "Type" "post" ) }}
    <div class="col-12 col-md-6 card-box">
        <a class="card" href="{{ .RelPermalink }}">
            <div class="card-cover cover-{{ default "white" .Params.coverColor }}" style="background-image:url('{{ .Site.BaseURL }}images/{{ default "cover.png" .Params.coverImage }}')"></div>
            <div class="card-body">
                <h3 class="card-title">{{ .Title }}.</h3>
                <!--<p class="card-text"></p>-->
            </div>
        </a>
    </div>
    {{ end }}
</div>
