<footer class="blog-footer w-100">
    <section class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 align-self-center">
                    {{ partial "lettering" .Site }}
                </div>
                <div class="col-6 col-md-3">
                    <nav class="navbar">
                        <div class="justify-content-between">
                            <ul class="ml-auto navbar-nav">
                                {{ $url := .URL | relLangURL }}
                                {{ range .Site.Menus.main }}
                                <li class="nav-item {{ if eq $url (.URL | relLangURL) }}active{{end}}">
                                    {{ if eq (hasPrefix .URL "mailto:") true }}
                                        <a class="nav-link" href="{{ .URL }}" target="_blank">{{ .Name }}</a>
                                    {{ else }}
                                        <a class="nav-link" href="{{ .URL | relLangURL }}" {{ if eq (hasPrefix .URL "http") true }}target="_blank" {{ end }}>{{ .Name }}</a>
                                    {{ end }}
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-6 col-md-3">
                    <nav class="navbar">
                        <div class="justify-content-between">
                            <ul class="ml-auto navbar-nav">
                                {{ $url := .URL | relLangURL }}
                                {{ range .Site.Menus.secondary }}
                                <li class="nav-item {{ if eq $url (.URL | relLangURL) }}active{{end}}">
                                    {{ if eq (hasPrefix .URL "mailto:") true }}
                                        <a class="nav-link" href="{{ .URL }}" target="_blank">{{ .Name }}</a>
                                    {{ else }}
                                        <a class="nav-link" href="{{ .URL | relLangURL }}" {{ if eq (hasPrefix .URL "http") true }}target="_blank" {{ end }}>{{ .Name }}</a>
                                    {{ end }}
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</footer>