<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic">

<link href="{{ .Site.BaseURL }}images/favicon.png" rel="shortcut icon" type="image/x-icon"/>

{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS (dict "targetPath" "css/main.css" "enableSourceMap" true) | minify | fingerprint }}
<link type="text/css" rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen,projection"/>

{{ if isset .Params "styles" }}{{ range .Params.styles }}<link rel="stylesheet" type="text/css" href="{{ . }}">{{ end }}{{ end }}
{{ if isset .Params "scripts" }}{{ range .Params.scripts }}<script src="{{ . }}"></script>{{ end }}{{ end }}
