<div class="list-item mb-4 mt-4 pb-4 border-bottom">
    <a href="{{ .RelPermalink }}">
        <div class="d-flex flex-column flex-sm-row align-items-center text-center text-sm-left">
            {{ partial "item-image" . }}
            <div class="item-title">
                <p class="item-type">{{ or (.Param "institution") .Type }}</p>
                <h2 class="item-name">{{ .Title }}</h2>
            </div>
            {{ if and (isset .Params "provincia") (isset .Params "regione") }}
            <div class="item-location flex-shrink-1 align-self-sm-end mr-sm-auto">{{ .Param "provincia" }}, {{ .Param "regione" }}</div>
            {{ end }}
            <div class="item-icon d-none d-sm-block">
                <!--<img src="{{ .Site.BaseURL }}images/icon-tag.svg">-->
                {{ readFile "static/images/icon-tag.svg" | safeHTML }}
            </div>
            {{ partial "item-labels" . }}
        </div>
    </a>
</div>