{{ define "main" }}
<main aria-role="main">

    <section class="row top-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><button type="button" class="btn btn-info call-to-action">Unisciti alla community >></button></p>
                    <h1><img class="logo" src="{{ .Site.BaseURL }}images/lettering.png" alt="Albopop"></h1>
                    <p class="hl-text">Diamo agli Albi Pretori un'aria un po' più Pop! Insieme a te.</p>
                    <p class="hl-quotation jumbotron">
                        L'Albo Pretorio indica in Italia un apposito spazio presso il quale le pubbliche
                        amministrazioni italiane
                        affiggono per legge notizie ed avvisi di interesse pubblico per la collettività.
                        (<a href="https://it.wikipedia.org/wiki/Albo_pretorio" target="_blank">Wikipedia</a>)
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="row hl-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-5 text-box hl-box">
                    <h1>Eh... Quindi?</h1>
                    <p>Quindi??!! Gli Albi Pretori sono una fonte preziosissima di informazioni, che le PA devono
                        pubblicare in una sezione specifica dei loro siti internet.</p>
                    <p class="em-text">All'interno, ad esempio, si trovano: avvisi pubblici,bandi di concorso,
                        determine dirigenziali, avvisi ed esiti di gare, notifiche, ordinanze del sindaco,
                        pubblicazioni di matrimonio, ecc..</p>
                    <p>Si tratta di elementi molto utili a chi vuole vivere il proprio territorio in modo consapevole e
                        attivo.</p>
                </div>
                <div class="col-sm-5 text-box">
                    <h1>E che problema ci sarebbe con gli Albi Pretori?</h1>
                    <p>Gli Albi pretori online attualmente non forniscono quasi mai strumenti che consentano ai
                        cittadini di essere avvisati in modo automatico per ogni nuova pubblicazione.</p>
                    <p>Inoltre non esiste un formato Standard per le Pubbliche Amministrazioni.</p>
                    <p>Ed è qui che entri in gioco tu e la <a href="#" target="_blank">community di AlboPOP</a>!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="row em-section">
        <div class="container">
            <div class="row r-section">
                <div class="col-sm-6 text-box hl-box">
                    <h1>In Pratica</h1>
                    <p>AlboPOP permette di trasformare ogni Albo Pretorio in un Account Twitter, un Feed RSS ed un
                        Canale di Telegram, sui quali verrà pubblicato ogni nuova pubblicazione effettuata in Albo.</p>
                    <p>AlboPOP è un progetto aperto al quale chiunque può contribuire, anche senza essere uno
                        sviluppatore, e fare in modo che il proprio Comune, o Ente Pubblico, possa aderire.</p>
                    <p>Qui tutti i Comuni e le altre Pubbliche Amministrazioni con AlboPOP.</p>
                    <h2>Vuoi inserire il tuo Comune?</h2>
                    <p><button class="btn btn-primary btn-lg call-to-action hl-button">Comincia da qui!</button></p>
                </div>
                <div class="col-4 col-sm-2 d-flex flex-column justify-content-center card-box">
                    <a class="card position-relative" href="#" style="left:0px">
                        <div class="card-icon"><img src="{{ .Site.BaseURL }}images/twitter.svg" alt="Twitter"></div>
                    </a>
                </div>
                <div class="col-4 col-sm-2 d-flex flex-column justify-content-center card-box">
                    <a class="card position-relative" href="#" style="left:0px">
                        <div class="card-icon"><img src="{{ .Site.BaseURL }}images/telegram.svg" alt="Telegram"></div>
                    </a>
                </div>
                <div class="col-4 col-sm-2 d-flex flex-column justify-content-center card-box">
                    <a class="card position-relative" href="#" style="left:0px">
                        <div class="card-icon"><img src="{{ .Site.BaseURL }}images/rss.svg" alt="RSS"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-box">
                    <p><button class="btn btn-info call-to-action">Scopri le storie dei Comuni che hanno già aderito >></button></p>
                    <h1>Lavoro in una Pubblica Amministrazione, come possiamo aderire?</h1>
                    <p>
                        Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.
                        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                        justo sit amet risus.
                        Nullam quis risus eget urna mollis ornare vel eu leo.
                    </p>
                </div>
                <div class="col-sm-4 card-box">
                    <a class="card" href="#">
                        <div class="card-img"><img src="{{ .Site.BaseURL }}images/aderisci.png" alt="Aderisci"></div>
                        <div class="card-body">
                            <h1 class="card-title">Aderisci ufficialmente</h1>
                            <p class="card-text">Basta una determina per diventare più trasparente e offrire un
                                servizio migliore e gratuito ai cittadini.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 card-box">
                    <a class="card" href="#">
                        <div class="card-img"><img src="{{ .Site.BaseURL }}images/forum-blue.png" alt="Forum"></div>
                        <div class="card-body">
                            <h1 class="card-title">Forum</h1>
                            <p class="card-text">Chiedi, impara e insegna. Ognuno può portare la propria conoscenza.
                                Partecipa alle discussioni sul Forum.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="row em-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-12 text-box">
                    <h1>Ho ancora molte domande...</h1>
                </div>
                <div class="col-sm-5 text-box hl-box">
                    <h1>E voi chi sareste?</h1>
                    <p>Siamo un gruppo di Cittadini provenienti da tutta Italia, proprio come te! Crediamo che
                        attraverso la partecipazione, la trasparenza e i dati aperti, Cittadini e Pubbliche
                        Amministrazioni possano migliorarsi e migliorare la vita di tutti.</p>
                    <p>Albopop nasce da un'idea di <a href="#">Andrea Borruso</a> sviluppata grazie all'aiuto di tutta
                        la Community e da oggi speriamo <a href="#">anche grazie a te</a>!</p>
                </div>
                <div class="col-sm-5 text-box">
                    <h1>Posso unirmi alla community?</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
                        Cras mattis consectetur purus sit amet fermentum.Vestibulum id ligula porta felis euismod
                        semper.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
                        commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
                <div class="col-sm-5 text-box">
                    <h1>E che problema ci sarebbe con gli Albi Pretori?</h1>
                    <p>Gli Albi pretori online attualmente non forniscono quasi mai strumenti che consentano ai
                        cittadini di essere avvisati in modo automatico per ogni nuova pubblicazione.</p>
                    <p>Inoltre non esiste un formato Standard per le Pubbliche Amministrazioni.</p>
                    <p>Ed è qui che entri in gioco tu e la <a href="#">community di AlboPOP</a>!</p>
                </div>
                <div class="col-sm-5 text-box hl-box">
                    <h1>In soldoni... cosa fate?</h1>
                    <p>
                        Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus
                        auctor fringilla.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        <a href="#">Unisciti a noi!</a>
                    </p>
                </div>
                <div class="col-sm-5 text-box hl-box">
                    <h1>Che cosa sono gli OpenData?</h1>
                    <p>Gli Albi pretori online attualmente non forniscono quasi mai strumenti che consentano ai
                        cittadini di essere avvisati in modo automatico per ogni nuova pubblicazione.</p>
                    <p>Inoltre non esiste un formato Standard per le Pubbliche Amministrazioni.</p>
                    <p>Ed è qui che entri in gioco tu e la <a href="#">community di AlboPOP</a>!</p>
                </div>
                <div class="col-sm-5 text-box">
                    <h1>Non ci capisco molto, ma vorrei imparare...</h1>
                    <p>
                        Aenean lacinia bibendum nulla sed consectetur.
                        Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                    </p>
                    <p>
                        Vestibulum id ligula porta felis euismod semper.
                        Etiam porta sem malesuada magna mollis euismod.
                        Donec id elit non mi porta gravida at eget metus.
                        Vestibulum id ligula porta felis euismod semper.
                    </p>
                </div>
                <div class="col-12 text-box text-center">
                    <p><button class="btn btn-secondary btn-lg call-to-action">Leggi tutte le domande</button></p>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="container">
            {{ partial "bottom" . }}
        </div>
    </section>

</main>
{{ end }}