{{ define "main" }}

<main aria-role="main">
    <section class="row top-section">
        <div class="container">
            <div class="row">
                <!--<div class="col-12 col-lg-9">-->
                    <div class="col-12">
                        
                        <header>
                            <h1 class="blog-post-title">Provincia: {{ .Title }}</h1>
                            <hr>
                        </header>
                        <h3 class="blog-post-title">Albi in questo territorio</h3>
                        <ul>
                        {{ range .Data.Pages }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                        </ul>
                    </div>
                    <!--{{ partial "sidebar" . }}-->
                </div>
            </div>
        </section>
    </main>
    
{{ end }}