{{ define "main" }}

<main aria-role="main">
    <section class="row top-section">
        <div class="container">
            <div class="row">
                <!--<div class="col-12 col-lg-9">-->
                    <div class="col-12">
                        
                        <header>
                            <h1 class="blog-post-title">Regione: {{ .Title }}</h1>
                            <hr>
                        </header>
                        <a href="{{ $.Site.BaseURL }}regione">< Regioni</a>
                        <h3 class="blog-post-title">Province</h3>
                        <ul>
                        {{ range .Pages.GroupByParam "provincia" }}
                            <li><a href="{{ $.Site.BaseURL }}provincia/{{ .Key | urlize | lower  }}">{{ .Key }}</a></li>
                        {{ end }}
                        </ul>
                    </div>
                    <!--{{ partial "sidebar" . }}-->
                </div>
            </div>
        </section>
    </main>
    
{{ end }}